*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root {
  --color-blue-fort: #0a0032;
  --color-blue-more: #1f134e;
  --color-blue-fucsia: #992893;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control_focus {
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap:8px;
}

.gap-15{
  gap:15px;
}

.gap-30{
  gap:30px;
}


/* header */
/* hedader top */
.header-top-strip {
  background-color: var(--color-blue-fort);
  border-bottom: 1px solid var(--color-blue-more);
}

/* header end */
.header-upper {
  background-color: var(--color-blue-fort);
}

.header-upper .input-group-text {
  background-color: var(--color-blue-fucsia);
}

.images-top-header{
  width: 25px;
  height: 25px;
}

.text-icon-header{
  font-size: 11px;
}

.header-bottom {
  background-color: #1f134e;
}

.menu-links {
  align-self: center;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}

.header-bottom .dropdown button::before{
  contain: url('../public/images/images-1.jpg');
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

button#dropdown-autoclose-true img {
  width: 30px;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-blue-fort);
  transform: translate3d(0px, 57px, 0px);
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: #0a0032;
}

/* Footer */

footer{
  background-color: var(--color-blue-fort);
}

footer:not(:first-child){
 border-top: 1px solid var(--color-blue-fort);
}

footer .input-group-text{
  background-color: #1f134e;
  color: white;
  padding: 8px 17px;
}

/* Home  */
/* banner */

.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #992893;
  margin: 0 0 12;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 52px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 64px;
  color: var(--color-blue-more);
  letter-spacing: 0.4;
}

/* button banner */
.button {
  background-color: var(--color-blue-fort);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
}

.button:hover {
  background-color: #1f134e;
}

/* banner2 */

.small-banner-content {
  top: 15%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #992893;
  margin: 0 0 12;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  color: var(--color-blue-more);
  letter-spacing: 0.4;
}

/* button banner */
.button {
  background-color: var(--color-blue-fort);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 15px;
}

.button:hover {
  background-color: #1f134e;
}

.small-banner {
  width: 49%;
}

/* homw wrapper */




